<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		<title></title>
		<link href="style.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     	<script type="text/javascript" src="script.js"></script>
	</head>
	<body ng-controller="PhoneListCtrl">
			
		<div id="headerr">
      
      	<div id="header2">
          	<a href="#"><div id="login" ng-click="login()">Login</div></a>
          	<a href="#"><div id="reg">Registration</div></a>
      	</div>
      	<div id="header3">
          	<ul id="ul1">
            	<li><a href="#">Main</a></li>
            	<li><a href="#">Calendar</a></li>
            	<li><a href="#">Forum</a></li>
            	<li><a href="#">Table</a></li>
          	</ul>
          	<input type="text" id="search">
      	</div>


    	</div>   

    	<div id="sliderr">
        	<div id="slide1"></div>
        	<div id="slide2" ng-repeat="i in massive"><a href="#">{{ i }}</a></div>
    	</div>
		
		<!-- <div id="fruits">
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
			<p>{{ title }}</p>
		</div> -->

	</body>
</html>