body{
	padding:0;
	margin:0;
}

#headerr{
	position:fixed;
	width:100%;
	height:150px;
	/*background-color:#34495D;*/
	background-color:#872341;
	padding:10px;
	color:white;
	font-weight:bold;
	/*background-image:url("../wall1.jpg");*/
	z-index:100;
}

#login{
	width:80px;
	height:20px;
	position:absolute;
	background-color:#ECECEC;
	border-radius:5px;
	margin-left:78%;
	color:#11999E;
	padding:5px;
	text-align:center;
}

#reg{
	width:93px;
	height:20px;	
	position:absolute;
	background-color:#ECECEC;
	border-radius:5px;
	margin-left:88%;
	color:#11999E;
	padding:5px;
	text-align:center;
}

#login:hover{
	color:black;
}

#reg:hover{
	color:black;
}

#header3{
	width:100%;
	height:55px;
	/*background-color:#70A3C4;*/
	background-color:#BE3144;
	position:absolute;
	margin-left:-10px;
	margin-top:105px;
}

#ul1 {
    list-style-type: none;
    overflow: hidden;
    font-size:18px;
}

#ul1 li {
	background-color:#ECECEC;
    float: left;
    margin-left:60px;
    margin-top:-1px;
    border-radius:5px;
}

#ul1 li a {
    color:#11999E;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#ul1 li a:hover {
    color: #111111;
}

#search {
	position:absolute;
    margin-left:80%;
    margin-top:-40px;
    border-radius:5px;
}

#sliderr{
	width:98%;
	height:400px;
	background-color:#F73859;
	margin-top:200px;
	position:absolute;
	padding:10px;
	margin-left:3px;
}

#slide1{
	width:70%;
	height:95%;
	background-color:#FFF2BE;
	position:absolute;
}

#slide2{
	width:26%;
	height:15%;
	background-color:#F9A828;
	margin-left:71.7%;
	margin-top:5px;
	padding:5px;
}

#slide2 a{
	text-decoration:none;
	color:white;
}

#fruits{
	margin-top:500px;
	position:absolute;
}